@use './variables' as vars;
@use '../mixins/transition' as *;
@use '../mixins/breakpoints' as bp;

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: vars.$h1-font-size;
  line-height: 36px;
  font-weight: vars.$bold;
  color: vars.$light-black; 
  margin: 0;
  @include bp.bp(custome-1440) {
    font-size: 28px; // Applies when screen width is max 1440px
  }
}

h2{
  font-size: vars.$h2-font-size;
  line-height: 30px;
  font-weight: vars.$bold;
  color: vars.$light-black; 
  margin: 0;
}

h6{
  font-size: vars.$h6-font-size;
  line-height: 23px;
  color: vars.$light-black;
  font-weight: vars.$medium;
  margin: 0;
}

p{
  font-size: vars.$body-font-size;
  line-height: 22px;
  margin: 0;
  color: vars.$gray-color;
}

a{
  text-decoration: none;
  color: vars.$blue-color;
  font-weight: 500;
}

ul{
  margin: 0;
  padding: 0;
}

.right-panel{
  padding: 40px 30px;
  box-sizing: border-box;
}

.p-button{
  font-size: 14px;
  @include transition(all, 0.3s, ease-in-out);
  &.p-button-primary{
    color: vars.$color-white;
    background: vars.$blue-color;
    border: 1px solid vars.$blue-color;
    &:hover{
      background: vars.$dark-blue-color;
      border-color: vars.$dark-blue-color;
    }
  }
  &.p-outline-button-primary{
    color: vars.$blue-color;
    background: transparent;
    border: 1px solid vars.$blue-color;
    padding: 8.5px 17.5px;
    &:hover{
      background: vars.$dark-blue-color;
      border-color: vars.$dark-blue-color;
      color: vars.$color-white;
    }
  }
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0rem #c7d2fe;
  border-color: #d1d5db;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0rem #c7d2fe;
  border-color: #d1d5db;
}

.image-full {
  max-width: 100% !important;
  display: block;
}

.get-started-content{
  max-width: 444px;
}

.p-password{
  .p-icon-field-right, .p-password-input{
    width: 100%;
  }
}

.login-form{
  label{
    margin-bottom: 10px;
    font-size: vars.$body-font-size;
    color: vars.$light-black;
  }
  .p-field{
    margin-bottom: 17px;
  }
  .p-checkbox{
    margin-right: 11px;
  }
  .p-field-checkbox{
    label{
      color: vars.$gray-color-label;
      font-size: vars.$body-font-size;
      font-weight: 400;
      line-height: 22px;
    }
  }
}


.right-panel-component{
   background-color: vars.$gray-color-bg;
}

.card-wrapper-gap{
  padding: 25px;
  box-sizing: border-box;
  background-color: #eff3f8;
  text-align: left;
}

.v-grid {
  column-count: 2;
  column-gap: 16px;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
  .item{
    margin-bottom: 20px;
    break-inside: avoid;
  }
}

.p-card {
  width: 100%;
  .p-card-title{
    font-size: 18px;
    font-weight: 600;
    color: #212121;
    .card-header {
      display: flex;
      justify-content: space-between;
      .three-dot-menu{
        .p-button{
           &.p-button-icon-only{
              &.p-button-rounded{
                border-radius: 0;
                height: auto;
                padding: 0;
                width: auto;
                color: #000;
              }
           }
           &.p-button-text{
             &:not(:disabled):hover{
                background: transparent;
                color: #000;
             }
           }
           &:focus{
             box-shadow: 0 0 0 0px #ffffff, 0 0 0 0px #b1b3f8, 0 0px 0px 0 rgb(0, 0, 0);
           }
        }
      }
    }
  }
  .p-card-content{
    padding: 0;
    padding-top: 15px;
  }
  &.role-card{
     .p-card-body{
        .p-card-content{
           padding-top: 0px;
           .card-header{
              margin-bottom: 20px;
              .card-icon{
                 max-width: 49px;
              }
              .card-heading{
                 padding-left: 20px;
                 h3{
                    &.title{
                       font-size: 18px;
                       font-weight: 500;
                       color: #212121;
                    }
                 }
                 p{
                   &.subtitle{
                     font-size: 12px;
                     font-weight: 500;
                     color: #757575;
                   }
                 }
              }
           }
           .card-content{
              font-size: 14px;
              font-weight: 400;
              color: #757575
           }
        }
     }
  }
  &.details-card{
      .p-card-title{
          padding-bottom: 8px;
      }
     .p-card-content{
          border-top: 1px solid #E0E0E0;
          .details-content {
              display: flex;
              border-bottom: 1px solid #dfe7ef;
              width: 100%;
              margin-bottom: 14px;
              flex-wrap: wrap;
              .details-content-lable{
                width: 30%;
                padding-bottom: 14px;
                color: #9e9e9e;
                font-size: 14px;
                font-weight: 500;
                word-wrap: break-word;
              }
              .details-content-text{
                width: 70%;
                padding-bottom: 14px;
                color: #111;
                font-size: 14px;
                font-weight: 400;
                word-wrap: break-word;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow-wrap: anywhere;
              }
              &:last-child{
                border-bottom: 0px solid #dfe7ef;
                margin-bottom: 0px;
              }
          } 
     }
  }
}

.right-aligned-menu .p-menu {
  left: auto !important;
  right: 0 !important;
  transform-origin: top right;
}

.pie-chart-wraper{
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.card-wraper{
   padding: 30px;
   box-sizing: border-box;
   background-color: vars.$color-white;
   border-radius: 10px;
}

.sub-header-right{
   display: flex;
   align-items: center;
   .search{
      .pi-search{
        padding-left: 14px;
      }
      .p-inputtext{
         padding: 0.6rem 0.75rem;
         padding-left: 40px;
      }
   }
   &.sub-header-big-desktop{
    display: flex;
    @include bp.bp(custome-1600) {
      display: none;
    }
   }
   &.sub-header-small-desktop{
    display: none;
    @include bp.bp(custome-1600) {
      display: flex;
    }
   }
   
}
.p-calendar-w-btn-right{
  .p-inputtext{
    border-right: 0;
  }
}






.p-datatable{
  .p-datatable-table{
    min-width: 50rem;
    padding-top: 10px;
    background: #e9ecef;
    border-radius: 10px;
    .p-datatable-thead{
      th{
         .p-column-header-content{
            .p-column-title{
                font-size: 14px;
                font-weight: 600;
                color: #343A40;
            }
         }
      }
    }
    .p-datatable-tbody{
      td{
         font-size: 14px;
         font-weight: 400;
         color: #495057;
         .p-button{
          &.p-button-rounded{
            &.p-button-icon-only{
              border-radius: 0;
              height: auto;
              width: auto;
              padding: 0px;
              .p-button-icon{
                 &:before{
                   color: #212121;
                 }
              }
            }
          }
          &.p-button-text:not(:disabled){
            &:hover{
                background: transparent;
                border-color: transparent;
            }
            &:focus{
                background: transparent;
                border-color: transparent;
                box-shadow: 0 0 0 0px #ffffff, 0 0 0 0px #b1b3f8, 0 0px 0px 0 rgb(0, 0, 0);
            }
          }
        }
      }
    }
    .pointer-row{
      cursor: pointer;
    }
  }
  .p-paginator-bottom{
    display: flex;
    justify-content: flex-end;
  }
  
}

.datatable-overlaypanel{
  border: 1px solid #DEE2E6;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  &.p-overlaypanel{
     &:before{
       display: none;
     }
     &:after{
      display: none;
    }
    .p-overlaypanel-content{
       .p-button-text{
         text-align: left;
         padding: 0.75rem;
         .p-button-icon{
           color: #6C757D;
           margin-right: 15px;
         }
         .p-button-label{
            color: #212121;
            font-size: 14px;
            font-weight: 500;
         }
         &:not(:disabled):active{
          background: transparent;
          color: #212121;
          border-color: transparent;
         }
         &:focus{
            box-shadow: 0 0 0 0px #ffffff, 0 0 0 0px #b1b3f8, 0 0px 0px 0 rgb(0, 0, 0);
         }
       }
    }
  }
}

.p-tabview{
   &.tabview-detaols{
      .p-tabview-panels{
        background: transparent;
        padding: 1.25rem 0;
        border: 0 none;
        color: #212121;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .p-tabview-nav-container{
           .p-tabview-nav-content{
              .p-tabview-nav{
                 flex-direction: row;
              }
           }
         
        }
      }
      .p-tabview-nav-container{
         .p-tabview-nav{
            .p-unselectable-text{
                .p-tabview-nav-link{
                   .p-tabview-title{
                     color: #37404C;
                     font-size: 14px;
                     font-weight: 500;
                   }
                }
            }
         }
      }
   }
}

.v-tab.p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav{

}

.v-tab {
  display: flex;
  flex-direction: row;
  &.p-tabview{
    display: flex;
    &>.p-tabview-nav-container{
       position: relative;
       .p-tabview-nav-content{
          scroll-padding-inline: 3rem;
          .p-tabview-nav{
            display: flex;
            flex-direction: column;
            width: 240px;
            box-sizing: border-box;
            padding-right: 25px;
            background: none;
            border: 0px solid #dfe7ef;
            border-width: 0 0 0px 0;
            li{
              margin-right: 0;
              .p-tabview-nav-link{
                color: #6c757d;
                font-size: 14px;
                font-weight: 600;
                word-wrap: break-word;
                background: none;
                border-color: transparent;
                border-radius: 6px;
                padding: 1rem 1.25rem;
                margin-bottom: 5px;
                border: solid #dfe7ef;
                border-width: 0;
                .p-tabview-title{
                  white-space: revert-layer;
                  line-height: 18px;
                  color: #616161;
                  font-size: 14px;
                  font-weight: 500;
                }
              }
              &.p-highlight{
                .p-tabview-nav-link{
                  background: #fff;
                  border-color: transparent;
                }
              }
            }
          }
       }
    }
    .p-tabview-panels{
       .p-tabview-panel{
               .form-container{
                   .p-tabview{
                       .p-tabview-nav-container{
                           .p-tabview-nav-content{
                              .p-tabview-nav{
                                 display: flex;
                                 flex-direction: row;
                                 width: 100%;
                                 border-bottom: 2px solid #d1d5db;
                                 .p-unselectable-text{
                                     .p-tabview-nav-link{
                                        font-size: 14px;
                                        color: #212121;
                                        padding-top: 8px;
                                     }
                                 }
                              }
                           }
                       }
                       .p-tabview-panels{
                          padding-left: 0;
                          padding-right: 0;
                       }
                   }
               }
       }
    }
  }
}
.p-tabview-panels{
    width: 100%;
    h3{
      padding: 0;
      margin: 0;
    }
}


.form-container {
  margin: 0px;
  h5{
     font-size: 16px;
     font-weight: 600;
     color: #212121;
     margin: 0;
     margin-bottom: 20px;
  }
  .p-calendar {
    .p-button {
      background: none;
      border: 1px solid vars.$gray-color-border;
      border-left: none;
    }
    svg {
      color: #000;
    }
  
  }
  .p-input-calender {
    border-right: 0 ;
  }
  label {
    color:vars.$light-black;
    font-size: 14px;
  }
  h3 {
    color: vars.$light-black;
    font-weight: 500;
  }
  .p-inputtext{
    font-size: 14px;
  }
  .p-inputtextarea{
     resize: none;
  }
  .border-line {
    border: 0;
    height: 1px;
    background-color: vars.$gray-color-border;
    margin: 18px 0 20px;
  }
  .p-button{
    background: none;
    color: #64748b;
    font-weight: 700;
    border: 1px solid #64748b;
  }
  .upload-cv-component{
     .upload-cv-image{
          width: 92px;
          height: 92px;
          border-radius: 10px;
          overflow: hidden;
          img{
            max-width: 100%;
            display: block;
          }
     }
  }
}

.search{
  @include bp.bp(custome-1600) {
    max-width: 200px;
  }
  @include bp.bp(mid-desktop2) {
    max-width: 150px;
  }
  .p-inputtext{
    @include bp.bp(custome-1600) {
      width: 100%;
    }
  }
}

.sub-header-right{
   .p-dropdown{
      .p-dropdown-label.p-inputtext{
        padding: 0.67rem 0.75rem;
      } 
   }
}