@use './variables' as vars;
@use '../mixins/transition' as *;

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: vars.$h1-font-size;
  line-height: 36px;
  font-weight: vars.$bold;
  color: vars.$light-black; 
  margin: 0;
}

h2{
  font-size: vars.$h2-font-size;
  line-height: 30px;
  font-weight: vars.$bold;
  color: vars.$light-black; 
  margin: 0;
}

h6{
  font-size: vars.$h6-font-size;
  line-height: 23px;
  color: vars.$light-black;
  font-weight: vars.$medium;
  margin: 0;
}

p{
  font-size: vars.$body-font-size;
  line-height: 22px;
  margin: 0;
  color: vars.$gray-color;
}

a{
  text-decoration: none;
  color: vars.$blue-color;
  font-weight: 500;
}

ul{
  margin: 0;
  padding: 0;
}

.right-panel{
  padding: 40px 30px;
  box-sizing: border-box;
}

.p-button{
  &.p-button-primary{
    color: vars.$color-white;
    background: vars.$blue-color;
    border: 1px solid vars.$blue-color;
    font-size: 14px;
    @include transition(all, 0.3s, ease-in-out);
    &:hover{
      background: vars.$dark-blue-color;
      border-color: vars.$dark-blue-color;
    }
  }
}

.image-full {
  max-width: 100% !important;
  display: block;
}

.get-started-content{
  max-width: 444px;
}

.p-password{
  .p-icon-field-right, .p-password-input{
    width: 100%;
  }
}

.login-form{
  label{
    margin-bottom: 10px;
    font-size: vars.$body-font-size;
    color: vars.$light-black;
  }
  .p-field{
    margin-bottom: 17px;
  }
  .p-checkbox{
    margin-right: 11px;
  }
  .p-field-checkbox{
    label{
      color: vars.$gray-color-label;
      font-size: vars.$body-font-size;
      font-weight: 400;
      line-height: 22px;
    }
  }
}


.right-panel-component{
   background-color: vars.$gray-color-bg;
}

.card-wrapper-gap{
  padding: 25px;
  box-sizing: border-box;
  background-color: #eff3f8;
  text-align: left;
}

.v-grid {
  column-count: 2;
  column-gap: 16px;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
  .item{
    margin-bottom: 20px;
    break-inside: avoid;
  }
}

.p-card {
  width: 100%;
  .p-card-title{
    font-size: 18px;
    font-weight: 600;
    color: #212121;
    .card-header {
      display: flex;
      justify-content: space-between;
      .three-dot-menu{
        .p-button{
           &.p-button-icon-only{
              &.p-button-rounded{
                border-radius: 0;
                height: auto;
                padding: 0;
                width: auto;
                color: #000;
              }
           }
           &.p-button-text{
             &:not(:disabled):hover{
                background: transparent;
                color: #000;
             }
           }
           &:focus{
             box-shadow: 0 0 0 0px #ffffff, 0 0 0 0px #b1b3f8, 0 0px 0px 0 rgb(0, 0, 0);
           }
        }
      }
    }
  }
  .p-card-content{
    padding: 0;
    padding-top: 15px;
  }
  &.role-card{
     .p-card-body{
        .p-card-content{
           padding-top: 0px;
           .card-header{
              margin-bottom: 20px;
              .card-icon{
                 max-width: 49px;
              }
              .card-heading{
                 padding-left: 20px;
                 h3{
                    &.title{
                       font-size: 18px;
                       font-weight: 500;
                       color: #212121;
                    }
                 }
                 p{
                   &.subtitle{
                     font-size: 12px;
                     font-weight: 500;
                     color: #757575;
                   }
                 }
              }
           }
           .card-content{
              font-size: 14px;
              font-weight: 400;
              color: #757575
           }
        }
     }
  }
}

.right-aligned-menu .p-menu {
  left: auto !important;
  right: 0 !important;
  transform-origin: top right;
}

.pie-chart-wraper{
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.card-wraper{
   padding: 30px;
   box-sizing: border-box;
   background-color: vars.$color-white;
   border-radius: 10px;
}

.sub-header-right{
   .search{
      .pi-search{
        padding-left: 14px;
      }
      .p-inputtext{
         padding: 0.6rem 0.75rem;
         padding-left: 40px;
      }
   }
}