@use '../layout/variables' as vars;
@use '../mixins/transition' as *;
@use '../mixins/breakpoints' as bp;

.login-content {
  max-width: 444px;
}

.login-right-component {
  max-width: 550px;
  width: 100%;

  .logo-wraper {
    margin-bottom: 48px;
    @include bp.bp(phone-end) {
      margin-bottom: 30px;
    }

    .logo {
      width: 180px;
      display: block;

      @include bp.bp(phone-end) {
        width: 100px;
      }
    }
  }

  .login-heading {
    text-align: left;
    margin-bottom: 38px;
  }

  .login-form {
    text-align: left;
  }

  .p-field-checkbox {
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 14px;
    }
  }
}