/* Add these styles for the active menu item */
.menu-red-background,
.p-panelmenu .p-panelmenu-header.menu-red-background > a {
  background-color: #0387d9 !important;
  color: white !important;
  border-radius: 8px !important;
}

/* Add hover effect for text color only */
/* .p-panelmenu .p-panelmenu-header > a:hover .p-menuitem-text,
.p-panelmenu .p-menuitem-link:hover .p-menuitem-text {
  color: white !important;
} */

/* Make sure the text color changes on hover for all menu items */

/* Strengthen text color rules */
.menu-red-background,
.p-panelmenu .p-panelmenu-header.menu-red-background > a,
.p-panelmenu .p-panelmenu-header.menu-red-background > a .p-menuitem-text,
.p-panelmenu .p-panelmenu-header.menu-red-background > a .p-menuitem-icon,
.menu-red-background .p-menuitem-text,
.menu-red-background .p-menuitem-icon {
  color: white !important;
}
